.header
  display: flex
  align-items: center
  padding: 28px 80px
  justify-content: space-between
  background-color: #ffffff

.header__dropdown
  left: 80px
  top: 88px
  z-index: 1
  width: 349px
  height: 325px

.header__logo
    margin-right: 60px
