.header
  display: flex
  align-items: center
  padding: 21px 0px
  justify-content: space-between
  background-color: #ffffff
  position: fixed
  width: 100%
  z-index: 10

  @media screen and ( max-width: 1200px )
    padding: 28px 0px

  .nav
    @media screen and ( max-width: 1200px )
      display: none

  .container
    display: flex
    align-items: center
    justify-content: space-between

.header__dropdown
  display: none
  z-index: 1
  width: 349px
  height: 325px
  padding: 30px 5px
  border: 1px solid #CDD3DB
  background: #ffffff

  // &::before, &::after
  //   content: ''
  //   display: block
  //   position: absolute
  //   width: 30px
  //   top: 30px
  //   right: 105px

  // &::before
  //     background: #fff
  //     width: 24px
  //     height: 2px

  // &::after
  //   height: 20px
  //   top: 25px
  //   right: 99px
  //   z-index: -1
  //   transform: rotate(45deg)
  //   background: #fff
  //   border: 1px solid #CDD3DB\


.header__dropdown-triangle
  position: absolute
  top: 32px
  right: 99px
  height: 15px
  transform: translateY(-100%)


.header__hover
  padding-top: 30px
  left: 0px
  transform: translateX(-50%)
  top: 20px
  position: absolute
  z-index: 10

.header__block
  width: 100%
  position: absolute
  height: 76px
  bottom: 0
  left: 0
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%)
  border-radius: 5px

.header__logo
    margin-right: 60px
    @media screen and ( max-width: 1200px )
      margin-right: 20px

.header__buttons
  display: flex
  margin-right: 30px

  @media screen and ( max-width: 425px  )
      margin-right: 10px


.header__button
    svg
      width: 25px
    path
      fill: none
      stroke: #000000

    &:not(:last-child)
      margin-right: 20px

    &:hover
      opacity: .8

      @media screen and ( max-width: 425px )
        margin-right: 10px

.header__right-side
  display: flex
  align-items: center
