header.header
    a(href="/").logo
      img(src="../../images/logo.svg", alt="").logo__image
      span.logo__text Rtrack
    nav.nav
      ul.nav__inner
        li.nav__item.nav__item--with-arrow
         a(href="/").nav__link Проекты
        li.nav__item
          a(href="/").nav__link Задачи для меня
        li.nav__item
          a(href="/").nav__link База знаний
        li.nav__item
          a(href="/").nav__link Все задачи
        li.nav__item
          a(href="/").nav__link Просмотренные
