.project
  display: flex
  justify-content: space-between
  align-items: center

.project__tasks
  display: flex

.project__name
  font-family: 'Montserrat'
  font-style: normal
  font-weight: normal
  font-size: 14px
  line-height: 18px
  color: rgba(33,33,33, .5)

.project__task
  padding: 1px 13px
  border: 1px solid #CDD3DB
  border-radius: 5px
  color: #93979B
  width: 35px
  display: flex
  align-items: center
  justify-content: center

  &:not(:last-child)
    margin-right: 5px




.task__info
  font-family: 'Montserrat';
  font-size: 15px
  line-height: 18px


.task__messages-icon
  path
    fill: 'none'

.project__task--assigned
    background: #0066FF
    color: #FFFFFF
    border: none

    &:hover
      color: #ffffff
      opacity: .8

.project__favorite
  margin-right: 10px
  cursor: pointer

  &:hover
    opacity: .8

  path
    fill: none
    stroke: #212121

.project__favorite--active
   path
    fill: #FFB661
    stroke: transparent


.project__item
  display: flex
  align-items: center
