.nav
  flex-grow: 1
.nav__inner
  display: flex

.nav__item
  display: flex
  align-items: center

  &:hover
    .dropdown
      display: block

  &:not(:last-child)
    margin-right: 30px


.nav__link
    color: #212121
    font-family: 'Montserrat'
    font-style: normal
    font-weight: normal
    font-size: 14px
    // line-height: 17px

.nav__item--with-arrow

    &::after
      content: ''
      margin-left: 8px
      display: inline-block
      width: 10px
      height: 6px
      background: url('./arrow.svg')

