.nav
  flex-grow: 1
.nav__inner
  display: flex

.nav__item
  display: flex
  align-items: center

  &:hover
    .header__dropdown
      display: block

    &::after
      transform: rotate(180deg)

  &:not(:last-child)
    margin-right: 30px


.nav__link
    color: #212121
    font-family: 'Montserrat'
    font-style: normal
    font-weight: normal
    font-size: 14px
    // line-height: 17px


.nav__item--with-arrow
    position: relative
    margin-right: 50px
    &::after
      content: ''
      transition: transform 1s
      margin-left: 8px
      display: inline-block
      width: 11px
      height: 6px
      background: url('./arrow.svg')

