extends /layout/app

block content
  .container
    section.section.task-list
        h2.section__header  Мои задачи
        .section__inner
          .section__content
            .task
              .task__content
                .task__info
                  a(href="/").task__project Риск культура
                  span  — Сформировать мотивацию к дальнейшему развитию
                .task__selects-list
                    .task__select
                      .task__select-icon
                        img(src="../../images/rocket.svg", alt="")
                      select(name="task-status").select
                        option(value="" data-color="#D9F5E6" style="background-color: #D9F5E6") В работе
                        option(value="" data-color="rgb(244, 67, 54)" style="background-color: rgb(244, 67, 54);") Нужна проверка
                        option(value="" data-color="rgb(0, 121, 107)" style="background-color: rgb(0, 121, 107);" ) Сделана
                    .task__select
                      .task__select-icon
                          img(src="../../images/human.svg", alt="")
                      select(name="task-").select
                        option(value="") В работе
                        option(value="") В работе
                        option(value="") В работе
                    .task__select
                      .task__select-icon
                          img(src="../../images/fire.svg", alt="")
                      select(name="task-").select
                        option(value="" data-color="#F9E6D9" style="background-color: #F9E6D9") Максимум
                        option(value="" data-color="rgb(255, 224, 130)" style="background-color: rgb(255, 224, 130)") Средний
                        option(value="" data-color="rgb(0, 121, 107)" style="background-color: rgb(0, 121, 107);" ) Сделана
              aside.task__aside
                span.task__timestamp 06.05.2020
                .task__additional-info
                  .task__messages
                    span 0
                    .task__messages-icon
                      img(src="../../images/message.svg", alt="")
                  .task__messages
                    span 0
                    .task__messages-icon
                      img(src="../../images/message.svg", alt="")

            button.btn Загрузить еще
          aside.section__aside
            .filter
              .filter__item
                | Сортировать по :
                span.filter__span дате
                .filter__order
                  img(src="../../images/sort.svg", alt="")
              .filter__selects
                  select(name="task-status")
                    option(value="") В работе
                    option(value="") В работе
                    option(value="") В работе

                  select(name="task-")
                    option(value="") В работе
                    option(value="") В работе
                    option(value="") В работе

                  select(name="task-status")
                    option(value="") В работе
                    option(value="") В работе
                    option(value="") В работе

              button.btn Очистить фильтр





    .info-container
      .info-container__content
        section.section.tutorial
          h2 Краткое обучение
          p
            |Банки все больше осознают важность риск-культуры как области, необходимой для эффективного управления рисками.
            |Понимание риск-культуры развивалось от ее восприятия как необходимости выполнять
            |требования регулятора в области рисков до сбалансированной системы,
            |в центре которой находится оптимальное для организации соотношение риска и доходности,
            |а если наклонить линию, то круг начинает скользить вниз и кажется, что тот, который справа, вот-вот упадёт»
          q
            | «Понимание риск-культуры развивалось от ее восприятия как необходимости выполнять требования регулятора в области рисков до сбалансированной системы»
          p
            |На ранней стадии я поймал себя на мысли, что большинство примеров — это простые сайты. Идея обычно соответствует следующему формату: «Посмотрите на эти линии и 2 окружности:
            |если предположить, что это набор масштабов, то окружность, которая более удалена от центра, перевешивает,
            |а если наклонить линию, то круг начинает скользить вниз и кажется, что тот, который справа, вот-вот упадёт».
        section.section.tutorial
          h2 Общая информация
          p
            |Если ранее бизнес рассматривал
            |риск-подразделения как сдерживающий фактор развития, то сейчас они выступают в роли партнеров.
            |Формальными правилами достичь такого результата вряд ли возможно, требуется соответствующая корпоративная культура.
          div
            img(src="../../images/info.jpg", alt="")
            p Риск-культура - это устоявшиеся нормы поведения сотрудников, направленные на выявление рисков и управление ими.

          h3 Какие могут быть задачи у данного решения:
          ul
            li
              |Сформировать у линейных руководителей набор управленческих знаний и навыков,
              |необходимых для эффективного выполнения ими своих обязанностей в соответствии со стратегией Банка и корпоративной моделью компетенций;
            li Сформировать мотивацию к дальнейшему развитию;
            li Выявить высоко-потенциальных руководителей Банка для дальнейшего карьерного развития

        section.section.tutorial
          h2 Для чего это нужно?
          ol
            li  Команда и управление людьми
            li  Побуждение, мотивирование подчиненных и коллег к участию в улучшениях;
            li Эффективное управление людьми
            li
              | Определение факторов, влияющих на вовлеченность
              | в коллективе использование управленческих инструментов / рычагов влияния на эти факторы; подбор адекватных / убедительных тезисов и аргументов для различных целевых аудиторий влияния;
              | воодушевление людей в личном общении;
            li Построение эффективных команд, лидерство и личная эффективность;
            li Принятие на себя лидерства и выбор стиля лидерства;
            li Фиксация и анализ своих эмоций с целью повышения эффективности профессиональной деятельности;
            li Навык постоянного личностного развития,
        section.section.videos
          h2.section__header  Видео уроки
          .section__inner
            .section__content.video__content
              article.video
                .video__item
                  img(src="../../images/video.jpg", alt="").video__img
                  .video__test
                    .video__play
                      img(src="../../images/play.svg", alt="")
                    .video__duration 05:10
                h3.video__header Команда и управление людьми
              article.video
                .video__item
                  img(src="../../images/video-1.jpg", alt="").video__img
                  .video__test
                    .video__play
                      img(src="../../images/play.svg", alt="")
                    .video__duration 05:10
                h3.video__header Мотивирование подчиненных и коллег к участию в улучшениях
              article.video
                .video__item
                  img(src="../../images/video-2.jpg", alt="").video__img
                  .video__test
                    .video__play
                      img(src="../../images/play.svg", alt="")
                    .video__duration 05:10
                h3.video__header  Навык постоянного личностного развития
              article.video
                .video__item
                  img(src="../../images/video-3.jpg", alt="").video__img
                  .video__test
                    .video__play
                      img(src="../../images/play.svg", alt="")
                    .video__duration 05:10
                h3.video__header Принятие на себя лидерства
              article.video
                .video__item
                  img(src="../../images/video-4.jpg", alt="").video__img
                  .video__test
                    .video__play
                      img(src="../../images/play.svg", alt="")
                    .video__duration 05:10
                h3.video__header Личная эффективность
              article.video
                .video__item
                  img(src="../../images/video-5.jpg", alt="").video__img
                  .video__test
                    .video__play
                      img(src="../../images/play.svg", alt="")
                    .video__duration 05:10
                h3.video__header Факторы влияющие на вовлеченность в коллективе
        section.section
          h2.section__header Оставьте отзыв о вашем использовании!
          .section__content
            form(action="").from
              textarea(name="" placeholder='Напишите ваш отзыв...' rows="5").form__textarea
              .from__item
                label(for="upload-file").file-label
                  .file-label__button
                    img(src="../../images/staple.svg", alt="")
                  .file-label__text
                    span.file-label__title Прикрепить файлы
                    span.file-label__requires Jpg, png, gif, mp4 не более 15 Мб
                input( type="file" id='upload-file').file-upload
                button.btn.btn--color Отправить отзыв


      aside.info-container__aside
        nav.nav
          ul.nav__inner
            li.nav__item.nav__item--active
              a(href="/").nav__link Краткое обучение
            li.nav__item
              a(href="/").nav__link Общая информация
            li.nav__item
              a(href="/").nav__link Видео-уроки
            li.nav__item
              a(href="/").nav__link Отзывы

