.task
  padding: 22px 30px
  background: #ffffff
  width: 100%
  max-width: 880px


.task__selects
    select
        width: 225px
        height: 33px
        background: #D9F5E6
        border: none

