.task
  padding: 22px 30px
  background: #ffffff

.task__info
  margin-bottom: 12px

.task__selects
    select
        width: 225px
        height: 33px
        border: none
        border-radius: 2px

