.dropdown
  position: absolute
  overflow-y: scroll
  display: none
  padding: 31px 25px
  background: #FFFFFF
  border: 1px solid #CDD3DB
  border-radius: 5px


.dropdown__item
  &:not(:last-child)
    margin-bottom: 10px



