
.user
  display: flex
  align-items: center
  position: relative
  cursor: pointer

  &:hover
    .user__dropdown
      display: block
    &::after
      transform: rotate(180deg)

  &::after
    content: ''
    margin-left: 8px
    transition: transform 1s
    display: block
    width: 11px
    height: 6px
    background: url('./arrow.svg')



.user__dropdown
  border: 1px solid #CDD3DB
  background: #ffffff
  padding: 18px 0px
  display: none
  width: 200px
  z-index: 10

  &::before, &::after
    content: ''
    display: block
    position: absolute
    width: 30px
    top: 40px
    right: 28px

  // &::before
  //     background: #fff
  //     width: 24px
  //     height: 2px
  //     top: 29px

  // &::after
  //   height: 20px
  //   top: 24px
  //   right: 21px
  //   z-index: -1
  //   transform: rotate(45deg)
  //   background: #fff
  //   border: 1px solid #CDD3DB

  .dropdown__item
    &:last-child
      border-top: 1px solid #CDD3DB
      padding-top: 11px

      .user__link
        color: #93979B


.user__dropdown--triangle
  position: absolute
  top: 18px
  right: 28px
  height: 14px
  // transform: translateY(-100%)

.user__hover
  position: absolute
  padding-top: 30px
  right: 0
  top: 33px
  z-index: 10

.user__avatar
  border-radius: 100%
  overflow: hidden
  display: flex
  align-items: center


.user__link
  font-family: 'Montserrat'
  font-style: normal
  font-weight: normal
  font-size: 14px
  line-height: 17px
  color: #212121
