
.user
  display: flex
  align-items: center
  position: relative

.user__dropdown
  border-radius: 5px
  border: 1px solid #CDD3DB
  background: #ffffff
  padding: 18px 0px
  display: none
  width: 200px
  z-index: 10

  .dropdown__item
    &:last-child
      border-top: 1px solid #CDD3DB
      padding-top: 11px

      .user__link
        color: #93979B

.user__hover
  position: absolute
  padding-top: 30px
  right: 0
  top: 40px
  z-index: 10

.user__avatar
  border-radius: 100%
  overflow: hidden
  display: flex
  align-items: center



  &:hover
    .user__dropdown
      display: block

.user__buttons
  display: flex
  margin-right: 30px

  @media screen and ( max-width: 425px  )
      margin-right: 10px


  .user__button
    svg
      width: 25px
    path
      fill: none
      stroke: #000000

    &:not(:last-child)
      margin-right: 20px

    &:hover
      opacity: .8

      @media screen and ( max-width: 425px )
        margin-right: 10px



.user__link
  font-family: 'Montserrat'
  font-style: normal
  font-weight: normal
  font-size: 14px
  line-height: 17px
  color: #212121
