.filter
  //  max-width: 350px

.filter__item
  display: flex
  justify-content: space-between
  background: #ffffff
  border-bottom: 1px solid #E0E4E9
  padding: 28px 20px


.filter__property
  font-family: 'Montserrat'
  font-style: normal
  font-weight: normal
  font-size: 14px
  line-height: 17px
  text-decoration-line: underline
  color: #93979B
  cursor: pointer

.filter__title
  margin-right: 5px

.filter__selects
  display: flex
  flex-direction: column
  background: #ffffff
  padding: 30px 20px

  .select2-container
    width: 100% !important

    &:not(:last-child)
      margin-bottom: 10px

  .select2-selection--multiple
      border: 1px solid #CDD3DB

  .select2-container--focus
    .select2-selection--multiple
      border: 1px solid #CDD3DB


  .select2-search__field
    margin-top: 0 !important
    font-family: 'Montserrat'
    font-style: normal
    font-weight: normal
    font-size: 14px
    line-height: 18px
    color: #93979B


  .select2-selection
     padding: 16px 0px

  .select2-selection__rendered
    height: 100%
    display: flex !important
    align-items: center
    padding-left: 20px !important
    flex-wrap: wrap

  .select2-container--default
    .select2-results__option--highlighted[aria-selected]
        background-color: rgba(216, 230, 255, .62) !important
        color: inherit



  select
    font-family: 'Montserrat'
    // min-height: 53px
    padding: 0 20px
    background: transparent
    border: 1px solid #CDD3DB
    border-radius: 2px
    margin-bottom: 10px
    font-size: 14px
    color: #93979B

    &:not(:last-child)
      margin-bottom: 15px


.with-checkbox
  max-height: 221px !important
  .select2-results__option
      position: relative
      display: flex
      align-items: center
      padding: 11px 20px
      line-height: 100%
      font-family: 'Montserrat'
      font-size: 14px
      color: #212121
      &::before
        content: ""
        display: block
        // display: inline-block
        // position: relative
        height: 20px
        width: 20px
        border: 1px solid #CDD3DB
        border-radius: 4px
        margin-right: 20px
        vertical-align: middle

  .select2-results__option


  .select2-results__option--highlighted[aria-selected]
            background-color: rgba(216, 230, 255, 0.62)
            color: inherit



  .select2-results__option[aria-selected=true]
       background-color: unset

       &::after
         content: ''
         display: block
         width: 20px
         height: 20px
         position: absolute
         background-image: url('./check.svg')
         background-size: cover
         left: 11px
         transform: translateX(50%)

.select2-dropdown
  border: 1px solid #CDD3DB
  padding: 15px 0


// .select2-container--default
//     .with-checkbox


.filter__order
  cursor: pointer




// font-family: Montserrat;
// font-style: normal;
// font-weight: normal;
//
// line-height: 18px;
// /* identical to box height, or 129% */


//
